.userDetailsCard{
    background: #fff;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    min-width: 300px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);

    font-size: larger;
}

.pictureCard{
    background: #fff;
    border-radius: 4px;
    margin: 20px auto;
    padding: 5px;
    min-width: 300px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);

    .picture{
        align-items: center;
        justify-items: center;
    }
}