.cpdRecordingUserGuide{
    width: 100%;
    height: 100%;
    margin: 15px;
    align-content: center;
    justify-content: center;
    display: flex;

    .cpdRecordingUserGuide-span{
        margin-left: 15%;
        background-color: #fff;
    }   
}