* {
    padding: 0;
    margin: 0;
}

.homeContainer {
    width: 100vw;
    height: 100vh;
    background-color: #80808030;
    // background-color: #0b1e47;

    .navbarContainer {
        display: flex;
        align-items: center;
        justify-content: center;

        .babcockContainer, .navbarOptionsContainer, .contactUs {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .navbar {

            position: relative;
            margin-top: 1.4rem;
            
            width: 90%;
            height: auto;

            background-color: #0b1e47;
            // background-color: #1aac83;
            
            border-radius: 50px;
            border: 1px solid #808080ad;
    
            display: flex;
            // float: right;
    
            .babcockContainer {
    
                color: #FFF;
    
                margin: 15px 27px /* TOP LEFT */;
                font-size: 33px;
                font-weight: bold;
    
                &:hover {
                    cursor: pointer;
                }
            }
    
            .navbarOptionsContainer {
    
                display: flex;
    
                margin: 24px 25px;
                font-size: 20px;
                font-weight: 700;
    
                color: #FFF;
                gap: 3.3rem;
    
                .About, .contactUs {
                    
                    &:hover {
                        cursor: pointer;
                        border-bottom: 1px solid #FFF;
                    }
                }
            }
    
            .loginAndSignUpButtonsContainer {
                width: 62%;
                height: auto;

                font-size: 20px;
                font-weight: 700;
                
                gap: 35px;
                list-style-type: none;
                color: #FFF;
                
                display: flex;
                align-items: center;
                justify-content: right;


                .login {
                    border: 1px solid #0b1e47;
                    padding: 4px;

                    color: #FFF;
    
                    &:hover {
                        cursor: pointer;
                        border-bottom: 1px solid #FFF;
                    }
                }
                
                .getConnected {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    
                    width: 12vw;
                    height: 7vh;
                    background-color: #143d8f;
                    // color: #ADD8E6;
                    color: #FFF;
                    border-radius: 50px;
    
                    &:hover {
                        cursor: pointer;
                        color: #FFF;
    
                    }
                }
            }
        }
    } /* close navigation bar */

    .bottomContainer {
        padding: 20px;
        margin: 130px 130px;
        // background-color: red;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;

        h1 {
            font-size: 60px;
            color: #0b1e47;
        }

        h3 {
            margin-top: 10px;
        }
    }
}
    
