.App {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    .userDetailsForm {

        width: 23vw;
        padding: 20px;
        
        row-gap: 0.6rem;
    
        /* border: 1px solid red; */
        background-color: #F1F1F1;
        border-radius: 7px;
    
        .title {
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    
        .labels {
            font-size: 15px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        .disciplineLabel, .PNFLabels {
            font-size: 15px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

            margin-bottom: 10px;
        }
    
        .inputs {
            width: 22vw;
            height: 5vh;

            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    
        .selects {
            width: 22.2vw;
            height: 5.7vh;
            margin-bottom: 10px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    
        .submitButton {
            width: 22.2vw;
            height: 5.7vh;
    
            margin-top: 3vh;
    
            text-transform: uppercase;
        }

        .options {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }
}


