.App {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    .userDetailsForm {
        width: 23vw;
        padding: 25px;

        
        row-gap: 0.6rem;
    
        /* border: 1px solid red; */
        background-color: #F1F1F1;
        border-radius: 7px;
    
        .title {
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    
        .labels {
            font-size: 15px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

            letter-spacing: 0.3px;

        }

        .disciplineLabel, .PNFLabels, .lineOfBusinesslabels, .positionlabels {
            font-size: 15px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

            margin-bottom: 10px;
            letter-spacing: 0.3px;
        }
    
        .inputs {
            width: 22.9vw;
            height: 2.5rem;

            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    
        .selects {
            width: 22.9vw;
            height: 2.5rem;
            margin-bottom: 10px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            letter-spacing: 0.3px;
            
        }
    
        .submitButton {
            width: 22.9vw;
            height: 2.5rem;
    
            margin-top: 3vh;
    
            text-transform: uppercase;

            display: flex;
            align-items: center;
            justify-content: center;

        }

        .options {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }
}


