.cpdType{
    margin: 15px;
    display: flex;
    align-content: center;
    justify-content: center;

    width: 100%;

    .cpdTypeSpan {
        padding: 10px 10px;
        margin-left: 15%;
        background-color: #fff;
    }   
}